@{
    ViewBag.Title = "Sent";
}

<div style="text-align:center;">
    <h2 style="text-align:center; color:green;">Your message has been sent</h2>
    <br />
    <input type="button" class="btn btn-primary" value="Back to List" onclick="location.href='@Url.Action("Index", "CalendarTeacher")'" />
</div>
